<form action="/" method="POST" enctype="multipart/form-data">
<h3>Upload Profile Photo</h3>
<input type="file" name="sampleFile" accept="image/*">
<input type="submit"  class="btn btn-primary">

</form>
<div class="card">

    <img src="/img/default.jpg" class="card__image" alt="User Profile">
    <h1 class="card__title">Farrukh Adeel</h1>
    <div class="card__job">Backend Developer</div>
    <p class="card__about">Hi, I'm Farrukh Adeel, Node JS Backend developer, with extensive knowledge and experience, working in web techologies, delivering quality work.</p>
    <button type="button" class="btn btn-primary">View Profile</button>
</div>